body {
	font-family: Arial, Helvetica, sans-serif;
	right: 15px;
	top: 50px;
	font-size: 16px;
	line-height: 2.5em;
	color: #333;
}
body {
	background-color: #000;
}
.insertimage {
	float: left;
	border: 10px solid #FFF;
	background-color: #CCC;
	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 25px;
	margin-left: 0px;
	padding: 25px;
	top: 0px;
}
.secondary-nav {
	vertical-align: top;
	width: 30%;
	background-color: #FFC;
}
.content-area {
	padding-left: 20px;
	background-color: #FC0;
}
s
td {
	padding: 0px;
}
.home-nav {
	background-color: #FF3;
	width: 25%;
	text-align: center;
}
.doctors-nav {
	background-color: #CCF;
	width: 25%;
	text-align: center;
}
.companions-nav {
	width: 25%;
	background-color: #6FC;
	text-align: center;
}
.villains-nav {
	background-color: #3CF;
	width: 25%;
	text-align: center;
}
